.canvas {
  display: inline-block;
  vertical-align: top;
  background-color: #1c1c1c;
  box-shadow: 10px 10px 10px #000;
  border: 2px solid #444;
}

@media screen and (min-width: 0px) and (min-height: 0px) {
  .canvas {
    width: 100px;
    height: 200px;
  }
}

@media screen and (min-width: 400px) and (min-height: 400px) {
  .canvas {
    width: 150px;
    height: 300px;
  }
}

@media screen and (min-width: 500px) and (min-height: 500px) {
  .canvas {
    width: 200px;
    height: 400px;
  }
}

@media screen and (min-width: 600px) and (min-height: 600px) {
  .canvas {
    width: 250px;
    height: 500px;
  }
}

@media screen and (min-width: 700px) and (min-height: 700px) {
  .canvas {
    width: 300px;
    height: 600px;
  }
}

@media screen and (min-width: 800px) and (min-height: 800px) {
  .canvas {
    width: 350px;
    height: 700px;
  }
}

@media screen and (min-width: 900px) and (min-height: 900px) {
  .canvas {
    width: 400px;
    height: 800px;
  }
}
